<?php
define('DB_NAME', '{{ mysql_db_name }}');
define('DB_USER', '{{ mysql_db_user }}');
define('DB_PASSWORD', '{{ mysql_db_password }}');
define('DB_HOST', '{% comment %} arn de aws RDS cluster {% endcomment %}');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');


define('AUTH_KEY', 'yuo!(ljLlq#sAf*SmJgb5uV9qxZHn@EMVIj4M0*Nu#)6Z@JspTVdVjXe(Xps*EeN');
define('SECURE_AUTH_KEY', 'zeEY5R1TeTp5$pFO*Hr5o1uSQQW7NYFlVTuQ4gh@HEx9$GOW%B1efW0B0LMk2AbX');
define('LOGGED_IN_KEY', 'DTzubtoopHA0ybw!smbaPbnDeXCJ@k%59R(YMU8@dRQI)#M&dx5O$E6M#@yQ5A2(');
define('NONCE_KEY', 'lFEYtlrdyxnCne#HNqRZmHDU8cfc4%ZXlW^Ge2MP!@zTn8TInDYSY)!bm&P5hoj7');
define('AUTH_SALT', '%%aJ7At^S7LG*eidCRd)X818tKiM4uIK4A&ZaYeRk5gygI7o01iiCuALeXyNRDd#');
define('SECURE_AUTH_SALT', 'i^hF$Yz6o$wqa5#ba!zzhkv#c4R&1xx5#j*VQN(MZftwATi4L0APA6^(P!jRTK5v');
define('LOGGED_IN_SALT', 'aWJ%&YplYpgVdtSSAI$fxEyN$jY$pei%s5HOvEfJ#lUVH*milvbms@SNNu6krH98');
define('NONCE_SALT', '*xSs7daLteZjn1x1MjOjXiRG@qrEP*s(sLMEDyuas&GYnhRN^M#9^wLj4N#PIKT@');

$table_prefix = 'wp_';

define('WP_DEBUG', false);

if (!defined('ABSPATH'))
    define('ABSPATH', dirname(__FILE__) . '/');

require_once(ABSPATH . 'wp-settings.php');